.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 3rem;

		&__button {
			transition: all 1s;

			&:hover{
				transform: translateY(-6px);
			}
		}
}